
@model CombinedViewModel

<h2>Insertar Nuevo Articulo</h2>

<form asp-controller="Article" asp-action="Create" method="post">

    <div class="form-group">
        <label asp-for="NewArticulo.Codigo"></label>
        <input asp-for="NewArticulo.Codigo" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="NewArticulo.Nombre"></label>
        <input asp-for="NewArticulo.Nombre" class="form-control" />
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <select name="selectClase" class="form-control">
                    @{
                        var first = Model.NewCA.ElementAtOrDefault(0);
                        <option value="@first.Nombre">Seleccione una opcion</option>
                    }

                    @foreach (var item in Model.NewCA)
                    {
                        <option value="@item.Nombre">@item.Nombre</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="NewArticulo.Precio"></label>
        <input asp-for="NewArticulo.Precio" class="form-control" />
    </div>

    <button asp-action="Insertar" type="submit" class="btn btn-primary">Insertar</button>
    <button asp-action="VolverCreate" type="submit" class="btn btn-primary">Cerrar</button>
    <div class="form-group" style="display:none;">
        <label asp-for="UserName">@Model.UserName</label>
        <input asp-for="UserName" class="form-control" />
    </div>
</form>
@if (TempData["Message"] != null)
{
    <script>
        alert('@TempData["Message"]');
    </script>
}