@model CombinedViewModel
<form asp-controller="IndexNombre" method="post">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped" style="overflow-y:auto;">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Clase</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.LeadDetails)
                    {
                        <tr>
                            <td>@item.Codigo</td>
                            <td>@item.Nombre</td>
                            <td>@item.ClaseArticulo</td>
                            <td>@item.Precio</td>
                        </tr>
                    }
                </tbody>
                <tbody>

                    <div class="input-group">
                        <label asp-for="NewArticulo.Nombre"></label>
                        <input asp-for="NewArticulo.Nombre" class="form-control" class="col-8" />
                        <div class="input-group-append">
                            <button asp-action="IndexN" type="submit" class="btn btn-primary">Buscar por nombre</button>
                        </div>
                    </div>

                    <div class="input-group">
                        <label asp-for="NewArticulo.Cantidad"></label>
                        <input asp-for="NewArticulo.Cantidad" class="form-control" class="col-8" />
                        <div class="input-group-append">
                            <button asp-action="IndexC" type="submit" class="btn btn-primary">Buscar por cantidad</button>

                        </div>
                    </div>

					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text">
                                <select name="selectClase" class="form-control">
                                    @{
                                        var first = Model.NewCA.ElementAtOrDefault(0);
                                        <option value="@first.Nombre">Seleccione una opcion</option>
                                    }

                                    @foreach (var item in Model.NewCA)
                                    {
                                        <option value="@item.Nombre">@item.Nombre</option>
                                    }
                                </select>
                                <button asp-action="IndexCl" type="submit" class="btn btn-primary">Buscar por Articulo</button>
							</div>
						</div>
					</div>

					<div class="input-group-append">
						<button asp-action="CreateV" type="submit" class="btn btn-primary">Insertar</button>
						<button asp-action="ModifyV" type="submit" class="btn btn-primary">Modificar</button>
						<button asp-action="EraseV" type="submit" class="btn btn-primary">Borrar</button>
						<button asp-action="VolverLogin" type="submit" class="btn btn-primary">Salir</button>
					</div>

				</tbody>
			</table>
		</div>
	</div>
    <div class="form-group" style="display:none;">
        <label asp-for="UserName">@Model.UserName</label>
        <input asp-for="UserName" class="form-control" />
    </div>
</form>
@if (TempData["Message"] != null) 
{
	<script>
		alert('@TempData["Message"]');
	</script>
}